* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-image: url(IndoAli.jpeg);
    background-size: 100vw 100vh;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

body {
    background-image: url(IndoAli.jpeg);
    background-size: cover;
    background: black;
    transition: all ease-in-out 13s;
    background-size: contain;
}

div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

h1 {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    display: block;
    margin-block-start: 0;
    margin-block-end: 0;
    margin: 5vh 0 5% 0;
    font-size: 50px;
}

h1::selection,
h1:hover {
    background: none;
    cursor: context-menu;
}

button {
    display: block;
    width: 30%;
    height: 25%;
    padding: 25px;
    border: double rgb(88, 88, 255) 2px;
    background: rgba(143, 143, 143, 0.025);
    border-radius: 10px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    transition: ease-in-out 500ms;
    text-align: center;
}

a {
    text-decoration: none;
    color: inherit;
}

button:hover {
    cursor: pointer;
    width: 35%;
    height: 25%;
    padding: 30px;
    background: rgba(143, 143, 143, 0.085);
    color: rgb(88, 88, 255);
    font-size: 35px;
}